*{
    padding:0;
    border:0;
    margin:0;

}

body{
    font-family: sans-serif;

    font-size:14px;
    width:600px;
}

#logo{
    height:80px;
    width:100px;
    float:left;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-right:10px;
}
header{
    height:100px;
    background-color: orangered;
    margin-bottom:2px;
}
.header{
    padding-left:10px;
    margin-left:10px;
    padding-top:10px;
}

.nav{
    float:left;
    height: 200px;
    padding:10px;
    background-color: floralwhite;
    margin-right:10px;
    margin-bottom:2px;
    border: solid;
    border-color: orangered;

}

.article{
    background-color: aliceblue;
    text-align:justify;
    padding:20px;

    border: solid;
    border-color:cadetblue;
    padding-bottom:81px;
    width: auto;
    height: auto;


}

footer{
    clear:both;
    text-align:center;
    height:60px;
    background-color: cadetblue;
    margin-top: 2px;
}

li{
    list-style:none;
    padding:10px;
}

 li a{
    text-decoration: none;
}