.container{
    float: left;
    width:200px;
    padding-right: 10px;
    border: dotted;
    margin-right: 30px;
    height: 300px;

}
body{
    max-width:600px;
    margin-left:auto;
    margin-right: auto;
    border: dotted;
}
#logo{
    width:100px;
    height: 100px;
    float: left;
}
footer{
    border: dotted;
    clear: both;
    text-align:center;
}
#para{
    border: dotted;
    height: 300px;


}
header{
    border:dotted;
}
a{
    text-decoration: none;
    padding: 30px;

}
li{
    list-style: none;
    padding: 10px;


}