

.container{
    float: left;
    width:200px;
    padding-right: 10px;
    background-color: aqua;
    margin-right: 20px;
    height: 300px;

}
body{
    max-width:600px;
    margin-left:auto;
    margin-right: auto;

}
#logo{
    width:120px;
    height: 120px;
    float: left;
    mar
}
footer{
    height: 70px;
    clear: both;
    text-align:center;
    background-color: green;
    padding-top: 10px;
}
#para{
    border: dotted;
    height: 300px;


}
header{
    background-color:lightblue;
    padding: 2px;
}
a{
    text-decoration: none;
    padding: 10px;

}
li{
    list-style: none;
    padding: 5px;


}